.clr-pclear{
    background-color: #DFCFE6;
}

.txt-purple{
    color: #7959A2;
}

a, a:link, a:visited, a:active {
    text-decoration:none;
}

ul{
    list-style: none;
}

mat-sidenav-container{
    height: calc(205vh - 115vh);
}

mat-sidenav{
    width: 200px;
    background-color: cornflowerblue;
}