<!-- <div class="d-flex flex-column flex-shrink-0 p-3 clr-pclear" style="width: 280px; min-height: 582px;" >
    <ul>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#home-collapse" aria-expanded="false"> " Home "
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="#" class="link-dark rounded">aaaa</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="nav-link txt-purple" aria-current="page">
                <i class="fa fa-suitcase"></i>&nbsp;&nbsp;&nbsp;Información General
            </a>
        </li>
        <li *ngIf="admin == 1">
            <a href="#" class="nav-link txt-purple">
                <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Área de trabajo social
            </a>
        </li>
        <li *ngIf="admin == 2">
            <a href="#" class="nav-link txt-purple">
                <i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;Área psicológica
            </a>
        </li>
        <li>
            <a href="#" class="nav-link txt-purple">
                <i class="fa fa-file"></i>&nbsp;&nbsp;&nbsp;Área legal
            </a>
        </li>
    </ul>
</div>  -->

<!-- <mat-toolbar color="pimary">
    <mat-toolbar-row>
        <h4>Right Click</h4>
        <button mat-button>
            <mat-icon>home</mat-icon> Home
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav>
        <a>Home</a>
    </mat-sidenav>
</mat-sidenav-container> -->
<!-- <app-header></app-header> -->

<mat-toolbar class="custom-toolbar">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <button mat-icon-button (click)="sidenav.toggle()">
                  <mat-icon aria-hidden="false"> menu</mat-icon>
                </button>
            </div>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start col-11">
              <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="../../../assets/images/logo.png" alt="" class="img-fluid" width="40" height="32">
              </a>
              <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <!-- Agrega elementos de navegación aquí si es necesario -->
              </div>
              <div class="text-end align-middle">
                <p>Usuario: {{userName}}</p>
              </div>
              <div class="text-end">
                <button mat-button class="custom-button" (click)="logout()">Salir
                    <mat-icon aria-hidden="false">logout</mat-icon>
                </button>
              </div>
            </div>
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav class="custom-sidebar">
      <app-side-item [areaId]="userArea" [rolId]="userRol"></app-side-item>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>