<h2 mat-dialog-title class="center title">{{ isEditing ? 'Editar Área' : 'Agregar Área' }}</h2>
<div class="form-container">
  <div mat-dialog-content class="form-content">
    <form #areaForm="ngForm" (ngSubmit)="onSave(areaForm.value)">
      <div class="center">
        <mat-form-field appearance="fill">
          <input matInput placeholder="Nombre del Área" name="name" ngModel required>
        </mat-form-field>
      </div>
      <div class="actions">
        <button mat-button class="cancel-button" (click)="onCancel()">Cancelar</button>
        <button mat-button class="save-button" [disabled]="!areaForm.valid" type="submit">
          {{ isEditing ? 'Actualizar' : 'Guardar' }}
        </button>
      </div>
    </form>
  </div>
</div>
