<header class="p-3 clr-purple text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="../../../assets/images/logo.png" alt="" class="img-fluid" width="40" height="32">
            </a>
            <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            </div>
            <div class="text-end align-middle">
                <p> Usuario: Jenny Lopez &nbsp;</p>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-pink">Salir</button>
            </div>
        </div>
    </div>
</header>
