/* You can add global styles to this file, and also import other style files */

.clr-purple{
    background-color: #7959A2;
}

.btn-pink{
    background-color: #D75A6D;
    color: #FFF;
    width: 90px;
    height: 40px;
}

/*Nuevos*/
.custom-toolbar{
    background-color: #7959A2;
    margin-left: 0;
    padding-left: 0;
    min-height: 100px;
}

mat-sidenav-container{
    height: calc(205vh - 115vh);
    background-color: #FFF !important;
}

mat-sidenav{
    width: 200px;
    background-color: cornflowerblue;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    padding: 0 !important;
}

mat-toolbar-row{
    padding: 0 !important;
    width: 100% !important;
}
